@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@504&family=Ubuntu:wght@700&display=swap');
*{
  margin:0px;
  padding:0px;
  
}

body{
 width:100%vh;
 font-family: Arial, Sans-Serif;
 text-align: justify;
 background-color:#ccfbfe;
 background-attachment: fixed;
}
main{
  margin:auto;
  background-color:#ffdde2;
  min-width: 300px;
  max-width: 500px;
  padding: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
main h1{
  color:#2d2a32;
  font-family: 'Josefin Sans', sans-serif;
  word-spacing: -2px;
}
main h2, h1{
   color:#6153CC; 
   margin:5px 0px;
   padding:5px 0px;
}
p{
  text-indent: 10px;
  font-family: Verdana;
  margin-bottom:15px;

}
ul{
  list-style: none;
}
article{
  margin:35px 0px;
  background-color:#cd8987 ;
  border-radius: 10px;
  
  padding:5px;
  border: 2px solid rgba(0,0,0,.7);
  
  
}
article h2{
  text-align: center;
 color:white;
 font-family: 'Josefin Sans', sans-serif;
 padding:10px;
}
article#imagem{

  height:373px;
  position:relative;
}
img{
  position:absolute;
  
  
  
}
figure{
  position:relative;
  
}
figcaption{
  position:absolute;
  top:0px;
  font-weight: bold;
  background: rgba(0,0,0,.1);
  color:white;
  
  padding:3px;
}
header{
  background-color:#2d2a32;
  color:white;
  
  
  top:-1;

  padding:5px 15px 5px;
}
main ul li{
  margin:5px;
}
header h1{
  padding-top: 30px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5em;
}
header h2{
  font-size: .7em; 
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
header a{
  text-align: left;
  
  color:#6153CC;
  text-decoration: none;
  font-weight: bold;
  padding:10px;
}
footer{
  background-color:#2d2a32;
  color:white;
  text-align: center;
  font-weight:bold;
  font-size: .7em;
  padding:10px;
  
}
a{
  color:#6153CC;
  text-decoration: none;
  font-weight: bold;
  font-size: .9em;
  margin-left:4px;
}

figure img#img-antes{
  width:100%;
  
  
}
figure img#img-depois{
  width:100%;
  
  
}
figure img#img-antes{
 width:100%;
 opacity: 1;
 transition-duration:1s;

}
figure img#img-antes:hover{
 webkit-transition:1s ease-in-out;
 opacity: 0;
 transition-duration:1s;

}
#ad{
  display:block;
  margin:20px auto 20px;
  border:2px solid rgba(0,0,0,.5);
  border-radius: 30px;
  
}
#audio p{
  margin: 35px auto;
 
}
#audio{
  
  padding:10px;
}
main p{
  font-family: 'Be Vietnam Pro', sans-serif;
}
strong{
  text-align: center;
}
#planilhas h4{
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
 
}
#planilhas p{
  margin:25px 0px 0px 0px;
}
#planilhas{
  height:250px;
}
article#video{
  
  
}

article#dis{
  padding:10px;
  line-height: 1.8em;
}
